{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
<div class='text-center mb-3'>
<h3 >Forgot your password?</h3>
</div>
<form method="post" class='text-center'>
  {% csrf_token %}
   <div class="brand-logo mb-3">
      <img class="img-fluid" src="{% static 'Images/undraw.png'%}" width='80%' alt="Logo">
    </div>
   {% comment %} <div class='text-start'>
    <p>Email</p>
   </div> {% endcomment %}
  {{ form.email }}
  <button type="submit" class='btn btn-primary mt-3' >Reset Password</button>
</form>
{% endblock %}
